[submodule "themes/desk"]
	path = themes/desk
	url = https://github.com/OlgaBochkaryova/hugo-desk-theme.git
[submodule "public"]
	path = public
	url = https://github.com/OlgaBochkaryova/OlgaBochkaryova.github.io.git
